/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

/public/uploads
/public/images
/public/fonts
/public/mix-manifest.json
/public/asset/admin
/public/assets/web/css
/public/assets/web/js
/public/assets/web/img
/public/.cache/
/public/public.zip
cms.zip
cms.rar
