.error-page{
  position: relative;
  min-height: 100vh;
  padding-bottom: 50px;
  direction: ltr;
  text-align: left;
  .back {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border-radius: 2px;
    &:hover {
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      color: inherit;
    }
  }
  .image {
    transform: rotateY(180deg);
    .svg {
      max-width:330px;
      height: auto;
      transform: inherit;
    }
  }
  .detail {
    position: relative;
    min-height: 90px;
    .title {
      font-weight: bold;
      font-size: 1.5rem;
    }
    .description{
      text-align: justify;
    }
  }

  .menu {
    text-align: center;
    .link {
      display: inline-block;
      color: inherit;
      font-size: 0.8rem;
      -webkit-transition: all .5s;
      text-decoration: none;
      margin: 0px 0px 7px 5px;
      border: 1px solid inherit;
      padding: 5px 10px;
      border-radius: 23px;
    }
  }




  .footer-area{
    position: absolute;
    bottom: 0;

    .footer{
      padding: 5px 0px;

      .author {
        font-size: 0.8rem;
        opacity: .9;
        transition: all .5s;
        &:hover {
          color: inherit;
          opacity: 1;
        }
        a{
          text-decoration: none !important;
          transition:all .5s;
          opacity: 1;
          &:hover{
            opacity: .6;
            color: inherit;
          }
        }
      }


    }

  }








  .sww {
    will-change: transform;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation: kf-swing 2s ease-in-out 0s infinite;
    animation: kf-swing 2s ease-in-out 0s infinite;
  }
  @-moz-keyframes kf-swing {
    50% {
      -webkit-transform: rotate(1deg);
      transform: rotate(1deg);
    }
    0%, 100% {
      -webkit-transform: rotate(-3deg);
      transform: rotate(-3deg);
    }
  }
  @keyframes kf-swing {
    50% {
      -webkit-transform: rotate(1deg);
      transform: rotate(1deg);
    }
    0%, 100% {
      -webkit-transform: rotate(-3deg);
      transform: rotate(-3deg);
    }
  }
  .sww2 {
    will-change: transform;
    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    -webkit-animation: kj-swing 1s ease-in-out infinite;
    animation: kj-swing 1s ease-in-out infinite;
  }
  @-moz-keyframes kj-swing {
    50% {
      -webkit-transform: rotate(-1deg);
      transform: rotate(-1deg);
    }
    0%, 100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  @keyframes kj-swing {
    50% {
      -webkit-transform: rotate(-1deg);
      transform: rotate(-1deg);
    }
    0%, 100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }

  .goTopFade {
    -webkit-animation: goTopFade 2s infinite;
    animation: goTopFade 2s infinite;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
  }
  @-webkit-keyframes goTopFade {
    from {
      opacity: .8;
      -webkit-transform: translate3d(0, -3%, 0);
      transform: translate3d(0, -3%, 0);
    }
    to {
      opacity: 0;
      -webkit-transform: translate3d(0, -10%, 0);
      transform: translate3d(0, -10%, 0);
    }
  }
  @keyframes goTopFade {
    from {
      opacity: .8;
      -webkit-transform: translate3d(0, -3%, 0);
      transform: translate3d(0, -3%, 0);
    }
    to {
      opacity: 0;
      -webkit-transform: translate3d(0, -10%, 0);
      transform: translate3d(0, -10%, 0);
    }
  }
}
