.featured-services {
  direction: rtl;
  text-align: right;
  .title {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
  }
  .services-item {
    margin-bottom: 10px;
    transition: all .5s;
    text-align: center;
    position: relative;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 0 3px 0px #ccc;
    &:hover{
      box-shadow: 0 0 3px 1px #ccc;
    }
    .image {
      display: inline-block;
      position: relative;
      height: 100px;
      width: 100px;
      margin: 30px;

    }
    .body {
      min-height: 150px;
      text-align: right;
      padding: 15px;
      a{
        text-decoration: none;
        color: #333;
      }
      .title {
        color: #333;
        font-size: 1.1rem;
        font-weight: bold;
        text-align: right;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: all .5s;
        &:hover{
          color: #666;
        }
      }
      .txt {
        color: #777777;
        text-align: right;
        font-size: .9rem;
      }

    }
  }
}
