//style for component footer
#footer {
  padding: 0px;
  border-top: 4px solid transparent;
  text-align: right;
  direction: rtl;
  .title {
    border-bottom: 2px solid transparent;
    padding: 8px 0 8px 0;
    margin: 15px 0 15px 0;
    font-size: 1.1rem;
    line-height: initial;
    span {
      border-bottom: 2px solid transparent;
      padding: {
        bottom: 8px;
      }
    ;
    }
  }
  a.link {
    text-decoration: none;
    font-size: .9rem;
    color: inherit;
    display: block;
    transition: all .2s;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin: 5px 0px;
    .fa {

    }
    span {
      padding-right: 5px;
    }
    &:hover {
      color: inherit;

    }
    i {
      transition: all 0.2s;
      color: inherit;
    }
  }
  a:hover i {
    margin-left: 5px;
  }
  .input-group {
    background: transparent;
    height: 30px;
    border: 2px solid transparent;
    margin-bottom: 2px;
    .input-group-btn {
      height: 28px;
      position: relative;
      white-space: nowrap;
      box-shadow: none;
      background: #ff5258;
      .btn {
        background: transparent;
        color: inherit;
        padding-top:0;
        border-radius: 0;
        border: none;
        font-size:.9rem;
        height:28px;
        box-shadow: none;
      }
    }
  }

  .email {
    border: none;
    background: transparent;
    height:28px;
    direction: ltr;
    font-size:.9rem;
    padding: 0px 0px 0px 10px;
    border-radius: 0;
    color: inherit;
    &:focus{
      box-shadow: 0 0 0 1px rgba(0, 123, 255, 0.8);

    }
  }

  .social-area {
    display: flex;
    .social {
      border: 1px solid transparent;
      padding: 3px 8px;
      margin: 2px;
      color: inherit;
      transition: all .2s;
      width: 35px;
      height: 35px;
      text-align: center;
      display: flex;
      align-items: center;
      text-decoration: none;
      font-size: .9rem;
      &:hover {
        border-color: transparent;
      }
      .fa {
        transition: all 0.2s;
        color: inherit;
        margin: auto;
      }
    }
    .social:hover .fa {
      color: inherit;
    }

    .social:hover .fa-facebook {
      color: #3b5999;
    }
    .social:hover .fa-twitter {
      color: #55acee;
    }
    .social:hover .fa-instagram {
      color: #e4405f;
    }
    .social:hover .fa-google-plus {
      color: #dd4b39;
    }
    .social:hover .fa-linkedin {
      color: #0077B5;
    }
    .social:hover .fa-youtube {
      color: #cd201f;
    }

  }

  #footer-bottom {

    .copyright {
      display: inline-block;
      margin: 0;
      font-size: .6rem;
      font-weight: normal;
      color: #a5a5a5;
    }
    .footer-logo img {
      max-height: 30px;
      float: left;
      margin: 5px;
      font-size: .6rem;
      font-weight: normal;
      color: #a5a5a5;
    }
  }

}
//endfooter


