.gallery {
  text-align: center;
  direction: rtl;
  .breadcrumb {
    font-size: .9rem;
    display: flex;
    border-radius: 0;
    flex-wrap: wrap;
    padding: 10px;
    list-style: none;
    margin-top: 5px;
    background: #fff;
    box-shadow: 0px 0px 1px #dedede;
    .breadcrumb-item {
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
  .header {
    display: inline-block;
    border-bottom: 2px solid transparent;
    margin: auto;
    .title {
      color:#7b7b7b;
      text-align: center;
      font-size: 1.5rem;
    }
  }
  .wp-page {
    text-align: center;
    background: #ffffff;
    box-shadow: 0px 0px 1px #dedede;
    .wp-image {
      padding: 10px;
    }
    .title {
      text-align: left;
      font-size: 1.5rem;
      padding: 5px 15px;
    }
  }
  .wp-images {
    background: #ffffff;
    box-shadow: 0px 0px 1px #dedede;
    .images-title {
      font-size: 1.5rem;
      text-align: center;
      font-weight: bold;
      padding: 5px 0px;
      line-height: 25px;
      text-decoration: none;
      display: block;
    }
    .image {
      position: relative;
      overflow: hidden;
      cursor: zoom-in;
      &:hover img{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
      img {
        transition: all ease 1s;
      }
      .title {
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
        text-align: center;
        color: #fcfcfc;
        padding: 10px 0px;
        margin: 0px;
        font-size: 1rem;
        font-weight: 100;
      }
    }
  }
  .lightgallery{
    border-top: 2px solid #ddd;
    margin-top: -2px;
    padding: 10px;
  }
}
