.googlemap {
  .contact-info {
    z-index: 1;
    width: 100%;
    padding: 20px;
    height: 100%;
    .title {
      font-weight: bold;
      padding: 5px;
      font-size: 1.5rem;
    }
    p {
      padding: 5px;
      display: block;
      margin: 0;
      text-align: justify;
      font-weight: 100;
      font-size: 1rem;
    }
  }

  #google_map {
    width: 100%;
    min-height: 400px
  }
}
