.introduction{
  .default-height-section{
    min-height:295px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
  }
  .full-height-section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title{
    text-align: left;
    padding-bottom:15px;
    font-weight:bold;
    font-size: 1.5rem;
    display: block;
  }
  .content{
        text-align: justify;
        line-height:40px;
        font-size: .9rem;
  }
  .more{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    color: #f4f5f9;
    text-decoration: none;
    background-color:#FFC107;
    padding: 5px 15px;
    float:left;
    transition: all .2s;
    margin-bottom: 10px;
    font-size: .9rem;
    &:hover{
      box-shadow: 0px 2px 3px #333;
       }
  }
  .more::before, .more::after
  {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.64), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.64), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.64), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
  }
  .more::after
  {
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
  }

.image{
  text-align:right;
  margin: auto;
  z-index: 1;
  position: relative;
}
  .image::before, .image::after
  {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    -webkit-box-shadow:0 15px 10px #101010;
    -moz-box-shadow:0 15px 10px #101010;
    box-shadow: 0 15px 10px #101010;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  .image::after
  {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
  }
  @media (max-width: 992px) {
    .image{
      text-align: center;
    }
  }
}

