.partial-comments {
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  direction: rtl;
  color: #484848;
  .header {
    border-bottom: 1px solid #dfdcdc;
    .caption {
      color: #484848;
      font-size: 1rem;
      margin: 0;
      padding: 15px;
      display: inline-block;

    }
    .badge {
      padding: 10px 10px;
      -webkit-box-shadow: none;
      border: none;
      cursor: pointer;
      outline: 0;
      float: left;
      margin: 0.5rem;
      font-size: 0.9rem;
      border-radius: 3px;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
  }

}

.partial-comments {
  .title {
    margin: 10px 30px;
    font-size: 1.1rem;
  }

  .modal {
    .modal-header {
      border-bottom: 1px solid #e9ecef;
      color: #555;
      .modal-title {
        font-size: 1.1rem;
        font-weight: bold;
      }
    }
    .modal-body {
      .textarea {
        padding: 10px;
        font-size: .9rem;
        overflow: auto;
        resize: vertical;
        width: 100%;
        min-height: 150px;
        border-color: #ddd;
        border-radius: 2px;
      }
      .submit {
        width: 100%;
        border-radius: 2px;
        &:focus {
          box-shadow: 0 0 0 0.1rem rgba(74, 74, 74, 0.25);
          outline: none;
        }
      }
      padding: 10px;
    }
  }
  .commenter {
    text-align: right;
    font-size: .9rem;
    .author {
      float: right;
    }
  }
  .btn-area {
    text-align: right;
  }
  .first-level {
    .message {
      text-align: right;
      font-size: .9rem;
      padding: 15px 0;
    }
  }
  .second-level {
    background: #f5f4f4;
    border-radius: 3px;
    .message {
      text-align: right;
      font-size: .9rem;
      padding: 15px 0;
    }
  }

  @media screen and (max-width: 992px) {

  }
}
