.partial-comments {
  text-align: center;
  .title {
    margin:10px 30px;
    font-size: 1.1rem;
  }
  .badge {
    font-weight: normal;
    height: 25px;
    padding: 5px;
    box-shadow: none;
    border: none;
    cursor: pointer;
  }
  .modal {
    .modal-header {
      border-bottom: 1px solid #e9ecef;
      color: #555;
      .modal-title {
        font-size: 1.1rem;
        font-weight: bold;
      }
      .close{margin-left: 0}
    }
    .modal-body {
      .textarea {
        padding: 10px;
        font-size: .9rem;
        overflow: auto;
        resize: vertical;
        width: 100%;
        min-height: 150px;
        border-color: #ddd;
        border-radius: 2px;
      }
      .submit {
        width: 100%;
        border-radius: 2px;
        &:focus {
          box-shadow: 0 0 0 0.1rem rgba(74, 74, 74, 0.25);
          outline: none;
        }
      }
      padding: 10px;
    }
  }
  .commenter {
    text-align: right;
    font-size: .9rem;
    .author{
      float: right;
    }
  }
  .btn-area {
    text-align: left;
  }
  .comment-body{
    border-top: 1px solid #f5f5f5;
    -webkit-box-shadow:0px 1px 1px -1px #777;
    -moz-box-shadow: 0px 1px 1px -1px #777;
    box-shadow: 0px 1px 1px -1px #777;
    background: #fff;
  }
  .first-level {
    .content {
      text-align: right;
      font-size: .9rem;
      padding: 15px 0;
    }
  }
  .second-level {
    background: #f5f4f4;
    border-radius: 3px;
    .content {
      text-align: right;
      font-size: .9rem;
      padding: 15px 0;
    }
  }

  @media screen and (max-width:992px) {
    .badge{
      margin: auto;
    }
    .commenter {
      font-size: .7rem;
      text-align: center
    }
    .btn-area {text-align: center}
  }
}
