#popup {
  text-align: center;
  .image {
    height: 130px;
    width: 200px;
    margin: auto;
  }
  .modal-title {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
  }
  .modal-content {
    text-align: left;
    padding: 10px;
    opacity: .9;
    background: #fff;
    border-radius: 0;
    .summary {
      padding-top: 10px;
      margin-bottom: 20px;
    }
    a {
      transition: all .2s;
      margin-top: 10px;
      padding: 10px;
      background: red;
      color: #fff;
      text-decoration: none;
      &:hover {
        background: #000;
        color: #fff;
      }
    }
  }
}



