.product-info {
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-bottom: 30px;
  overflow: hidden;

  .image {
    padding: 10px 10px 0px 10px;
  }

  .th-image {
    border: 1px solid gray;
    display: inline-block;
    margin-bottom: 5px;
    cursor: zoom-in;
  }

  .details {
    padding: 10px;

    .header {
      background: #f5f6f7;
      padding: 10px 15px;
      border-radius: 2px;
      margin-bottom: 15px;
      .title{
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 15px;
      }
      .slug{
        font-size: 1rem;
        font-weight: 100;
      }

      .category{
        font-size: 0.8rem;
        font-weight: 100;
        margin-bottom: 0;
        margin-top: 15px;
        a{
          text-decoration: none;
          color: inherit;
        }
      }
    }

  }

}

.product-gallery {
  padding: 10px 10px 5px 10px;
}

.product-body {
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-bottom: 30px;
  overflow: hidden;

  .caption {
    color: #484848;
    font-size: 1rem;
    margin: 0;
    padding: 15px;

  }
  .editor {
    border-top: 1px solid #dfdcdc;
    padding: 15px;
  }
  .editor p {
    line-height: 2rem;
    font-weight: 100;
    font-size: 0.9rem;
    direction: rtl;
    text-align: justify;
    color: #4d4d4d;
  }
}




