
.product-gallery {
  padding: 10px 10px 5px 10px;
}

.product-body {
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-bottom: 30px;
  overflow: hidden;

  .caption {
    color: #484848;
    font-size: 1rem;
    margin: 0;
    padding: 15px;

  }
  .editor {
    border-top: 1px solid #dfdcdc;
    padding: 15px;
  }
  .editor p {
    line-height: 2rem;
    font-weight: 100;
    font-size: 0.9rem;
    direction: rtl;
    text-align: justify;
    color: #4d4d4d;
  }
}

//-------------------------------
#product-widget {
  direction: rtl;
  .info {
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin-bottom: 30px;
    overflow: hidden;

    .image {
      padding: 10px 10px 0px 10px;
    }

    .th-image {
      border: 1px solid #d4d4d4;
      display: inline-block;
      margin-bottom: 5px;
      cursor: zoom-in;
    }

    .details {
      padding: 10px;

      .header {
        background: #f5f6f7;
        padding: 10px 15px;
        border-radius: 2px;
        margin-bottom: 15px;
        .title {
          font-size: 1.5rem;
          font-weight: bold;
          margin-bottom: 15px;
        }
        .slug {
          font-size: 1rem;
          font-weight: 100;
        }
        .category {
          font-size: 0.8rem;
          font-weight: 100;
          margin-bottom: 0;
          margin-top: 15px;
          a {
            text-decoration: none;
            color: inherit;
          }
        }
      }

      .money {
        .old_price {
          font-weight: 100;
          font-size: 0.8rem;
          color: #747474;
          padding-right: 5px;
          .amount {
            text-decoration: line-through;
          }
          .discount {
            background-color: #fd4e4e;
            color: #fff;
            height: 24px;
            line-height: 24px;
            display: inline-block;
            padding: 2px 8px;
            border-radius: 15px;
            font-size: 0.8rem;
            float: left;
          }

        }
        .final_price {
          font-weight: 100;
          font-size: 1rem;
          color: #171717;
          padding-right: 5px;
          .price {
          }
          .amount {
            font-weight: bold;
            color: green;
          }
          .currency {
            color: green;
            font-weight: 100;
          }

        }
      }

      .summary{
        p{
          font-size: 0.9rem;
          line-height: 1.5rem;
          padding: 5px;
        }
      }

      .submit{
        .add_to_cart {
          overflow: hidden;
          margin: auto;
          border-radius: 3px;
          text-decoration: none;
          color: #fff;
          background-color: #4caf50;
          font-weight: 100;
          border: none;
          padding: 5px 10px;
        }
      }



    }

  }
}
