.bg_vibrant {
background-color: #d90fd9 !important;
color: #ffffff;
}
.text_vibrant {
color: #d90fd9 !important;
}
.border_vibrant {
border-color: #d90fd9 !important;
}

.bg_vibrant_hover {
background-color: #833883 !important;
color: #f2f2f2;
}
.text_vibrant_hover {
color: #833883 !important;
}
.border_vibrant_hover {
border-color: #833883 !important;
}

.text_bg_vibrant{
color: #ffffff;
}

.text_bg_vibrant_hover{
color: #f2f2f2;
}

.border_bg_vibrant{
border-color: #ffffff !important;
}

.bg_border_vibrant{
background-color: #ffffff !important;
}

.border_bg_vibrant_hover{
border-color: #ffffff !important;
}

.border_bg_vibrant{
border-color: #ffffff !important;
}

.bg_vibrant-hover:hover {
background-color: #833883 !important;
color: #f2f2f2 !important;
}

.bg_vibrant_hover-hover:hover {
background-color: #d90fd9 !important;
color: #c0c0c0 !important;
}





.bg_muted {
background-color: #ffffff !important;
color: #000000;
}
.text_muted {
color: #ffffff !important;
}
.border_muted {
border-color: #ffffff !important;
}

.bg_muted_hover {
background-color: #ffffff !important;
color: #000000;
}
.text_muted_hover {
color: #ffffff !important;
}
.border_muted_hover {
border-color: #ffffff !important;
}

.text_bg_muted{
color: #000000;
}

.text_bg_muted_hover{
color: #000000;
}

.border_bg_muted{
border-color: #ffffff !important;
}

.bg_border_muted{
background-color: #ffffff !important;
}

.border_bg_muted_hover{
border-color: #ffffff !important;
}

.border_bg_muted{
border-color: #ffffff !important;
}

.bg_muted-hover:hover {
background-color: #ffffff !important;
color: #000000 !important;
}

.bg_muted_hover-hover:hover {
background-color: #ffffff !important;
color: #c0c0c0 !important;
}





.bg_dark {
background-color: #2a2a2a !important;
color: #c0c0c0;
}
.text_dark {
color: #2a2a2a !important;
}
.border_dark {
border-color: #2a2a2a !important;
}

.bg_dark_hover {
background-color: #222222 !important;
color: #ffffff;
}
.text_dark_hover {
color: #222222 !important;
}
.border_dark_hover {
border-color: #222222 !important;
}

.text_bg_dark{
color: #c0c0c0;
}

.text_bg_dark_hover{
color: #ffffff;
}

.border_bg_dark{
border-color: #414141 !important;
}

.bg_border_dark{
background-color: #414141 !important;
}

.border_bg_dark_hover{
border-color: #414141 !important;
}

.border_bg_dark{
border-color: #414141 !important;
}

.bg_dark-hover:hover {
background-color: #222222 !important;
color: #ffffff !important;
}

.bg_dark_hover-hover:hover {
background-color: #2a2a2a !important;
color: #c0c0c0 !important;
}





.bg_body {
background-color: #ffffff !important;
color: #000000;
}

.text_bg_body {
color: #000000 !important;
}

.title_bg_body{
color: #000000 !important;
}
